<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.r3xsean.t3code-nightly-dispatch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>REPLACE_WITH_DISPATCHER_PATH</string>
  </array>
  <key>WorkingDirectory</key>
  <string>REPLACE_WITH_REPOSITORY_PATH</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>REPLACE_WITH_HOME_PATH</string>
    <key>GH_PATH</key>
    <string>/opt/homebrew/bin/gh</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>REPLACE_WITH_STDOUT_PATH</string>
  <key>StandardErrorPath</key>
  <string>REPLACE_WITH_STDERR_PATH</string>
</dict>
</plist>
